<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

    <div class="container my-5" style="padding-top: 30px;">

        <h3> Depositar</h3>


        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <!-- envio o formulário para a rota deposito no CaixaEletronicoController -->
                    <form th:action="@{/deposito}" th:object="${conta}" method="post">

                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Dinheiro</label>
                                <input type="hidden" th:field="*{nome}" class="col-md-6 offset-md-3" id="nome" placeholder="Nome" />
                                <input type="hidden" th:field="*{dinheiro}" class="col-md-6 offset-md-3" id="dinheiro"
                                    placeholder="Dinheiro" />
                                <input type="text" th:name="valor" class="form-control" />
                            </div>


                            <div class="col-md-6 offset-md-3">
                                <input type="submit" class="btn" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>